<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('partials/navigation') %>
        <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 d-flex justify-content-center">Drogas: Qué debes saber</h1>
                <p class="d-flex justify-content-center">
                    No es difícil encontrar drogas y a veces puede parecer como si todo el mundo las fabricara o quisiera que las probaras. Pero, como ocurre con todo lo que parece demasiado bueno para ser verdad, hay desventajas (y peligros) asociados al consumo de drogas.
                </p>
            </section>
        </main>
</body>

</html>