<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
  <title>
      <%= title%>
  </title>
</head>

<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">

    <%- include('partials/navigation') %>
    <main class="px-3">
      <h2>Drogas</h2>
      <p>No es difícil encontrar drogas y a veces puede parecer como si todo el mundo las fabricara o quisiera que las probaras. Pero, como ocurre con todo lo que parece demasiado bueno para ser verdad, hay desventajas (y peligros) asociados al consumo de drogas.</p>
      <hr>
      <h3>¿Cómo actúan las drogas?</h3>
      <hr>
      <img src="/img/daños.gif" class="w-75" alt="">
      <p>Las drogas son sustancias químicas que modifican el funcionamiento de nuestro cuerpo,Cuando se toman (generalmente tragándolas, inhalándolas o inyectándoselas), las drogas encuentran la forma de llegar al torrente sanguíneo. Desde allí, llegan al cerebro y a otras partes del cuerpo.</p>
    </main>
    <%- include('partials/footer') %>
  </div>
</body>

</html>