<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>
        <%= title%>
    </title>
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">
    <%- include('partials/navigation') %>

    <img class="w-50" style="margin-left: 150px;" src="/img/drogas.png" alt="">
    <h1>Acerca de</h1>
    <p>En un mundo donde las drogas y las adicciones representan una amenaza constante para la salud pública y la seguridad, nuestra entidad se ha erigido como un baluarte en la lucha contra este flagelo. Nos enorgullece presentarles una visión y una misión que tienen un impacto profundo en nuestras comunidades y en la vida de las personas. Somos una organización comprometida con la prevención, tratamiento y erradicación del abuso de sustancias, y hoy, compartimos nuestra pasión y propósito con ustedes.</p>

    <%- include('partials/footer') %>
  </body>

</html>