<<<<<<< HEAD
=======
<<<<<<< HEAD


=======
body{
    background: white;
    color: black;
}
.nav{
    background: black;
}
>>>>>>> f9eb8e9569029ca0d0b796582d0b6a12714cda63
>>>>>>> 473eeb9c3fd415f1946807f9d2a031319e29a4e2
